body {
    background-color: rgb(184, 180, 180);
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstStepScreen {
    width: 60vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 3vh;
    display: flex;
    display: none;
}

.formSteps {
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 10px;
    background-image: url('bg-sidebar-desktop.svg');
    background-size: cover;
    height: 94%;
    width: 28%;
}

.personalInfo {
    background-color: white;
    margin-top: 2%;
    width: 68%;
    height: 94%;
}

.steps {
    border: solid 1px white;
    margin: 0;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-left: 30px;
    color: white;
    background-color: rgb(56, 68, 235);
    justify-content: center;
    align-items: center;
    /* margin-bottom: -10px; */
}

/* #step1 {
    color: black;
    background-color: white;
} */

/* #step2 {
    color: black;
    background-color: white;
} */

/* #step3 {
    color: black;
    background-color: white;
} */

/* #step4 {
    color: black;
    background-color: white;
} */

.stepOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-top: 40px; */
    color: white;
}

.smallFont {
    margin-top: 40px;
    margin-left: -30px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5;
}

.bold {
    font-weight: 700;
    font-size: small;
}

.personalInfoTitle {
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(22, 6, 94);
    margin-left: 100px;
    margin-bottom: 0;
}

.personalInfoDesc {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(134, 134, 134);
    margin-left: 100px;
}

.inputAndTitles {
    margin-left: 100px;
}

.inputTitles {
    font-size: medium;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    color: rgb(22, 6, 94);
}

.inputs {
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

.nextStepButton {
    width: 120px;
    height: 40px;
    margin-left: 388px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(22, 6, 94);
    color: white;
}



.nextStepButton:hover {
    background-color: rgb(32, 9, 134);
}

.nextStepButton:active {
        background-color: rgb(44, 15, 170);

}

.backButton {
    width: 120px;
    height: 40px;
    margin-bottom: -50px;
    margin-left: 200px;
    /* margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(22, 6, 94);
    color: white; */
}


/* Second Step Css */


.secondStepScreen {
    width: 60vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 3vh;
    display: flex;
    display: none;
}


.selectPlanDiv {
    background-color: white;
    margin-top: 2%;
    width: 68%;
    height: 94%;
}

.selectPlanTitle {
    font-size: x-large;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(22, 6, 94);
    margin-left: 100px;
    margin-bottom: 0;
}

.selectPlanDesc {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(134, 134, 134);
    margin-left: 100px;
}

.selectPlan {
    margin-left: 100px;
    width: 25vw;
    height: 12vh;
    margin-bottom: 3vh;
    border-radius: 5px;
    border-color: rgb(167, 166, 166);

}

.monthlyCost {
    display: block;
    color: Grey;
}

#arcade:focus {
    border-color: rgb(1, 1, 173);
    background-color: rgb(175, 174, 174);
}

#advanced:focus {
    border-color: rgb(1, 1, 173);
    background-color: rgb(175, 174, 174);

}

#pro:focus {
    border-color: rgb(1, 1, 173);
    background-color: rgb(175, 174, 174);

}


.selectPlanImg {
    float: left;
    margin-right: -30px;
}

.planTitle {
    display: block;
    margin-bottom: -15px;
    margin-top: 8px;
}

#toggle-Switch {
    margin-top: 20px;
    border: none;
}

.switch {
    display: block;
    margin-top: 10px;
    background-color: blue;
    width: 30px;
    height: 15px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 250px;
}

.switch::before {
    position: absolute;
    content: '';
    background-color: white;
    width: 13px;
    height: 13px;
    border-radius: 30px;
    margin: 1px;
    transition: 0.2s;
}

input:checked + .switch {
    background-color: blue;
}

input:checked + .switch::before {
    transform: translateX(15px);
}


.month-year {
    display: none;
}

.monthly {
    margin-left: -60px;
}

.yearly {
    margin-left: 40px;
    margin-top: -5px;
}


/* Third step Screen */

.thirdStepScreen {
    width: 60vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 3vh;
    display: flex;
    display: none;
}

.adOnTitle {
    margin-left: 100px;
    margin-top: 70px;
    color: blue;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
}

.adOnSubTitle {
    color: gray;
    font-size: medium;
}

/* .selectAdOnsDiv {
    justify-content: center;
} */

.adOns {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    width: 400px;
    height: 60px;
    margin-left: 90px;
    margin-top: 20px;
    text-align: center;
}

/* .firstAdOn {
    margin-top: 100px;
} */

.adOnDesc {
    font-size: x-small;
    color: gray;
    margin-left: 25px;
    
}

.adOnCheckbox {
    margin-top: 12px;
    accent-color: rgb(56, 68, 235);
}

/* final step screen */

.finalStepScreen {
    width: 60vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 3vh;
    display: flex;
    /* display: none; */
}

/* .finalStepTitleDiv {
    text-align: left;
    justify-content: center;
} */

.finalStepTitle {
    margin-left: 100px;
    margin-top: 70px;
    color: blue;
    font-size: clamp(1rem, 3vw, 2.5rem); 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
}

.finalStepDesc {
    color: gray;
    font-size: medium;
}


.confirmingPlanDiv {
    margin-left: 100px;
    margin-top: 15px;
    padding: 12px;
    padding-top: 1px;
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
    background-color: rgb(226, 226, 226);
    
}

.monthlyPrice {
    float: right;
    margin-right: 10px;
    color: rgb(68, 0, 255);
}

.changePlanButton {
    border: none;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
    margin-left: -12px;
    color: gray;
    width: 60px;
    height: 10px;
    font-size: x-small;
    text-decoration: underline;
}

.changePlanButton:hover {
    font-weight: bold;
}

.changePlanButton:active {
    font-weight: bold;
    color: gray;
}

.confirmPlanHeader {
    color: rgb(68, 0, 255);
    margin-bottom: 0px;
    font-size: clamp(12px, 1vw, 1rem); 
    /* margin: 0; */
}

.ConfirmAdOns {
    color: rgb(160, 160, 160);
}

.finishButton {
    width: 120px;
    height: 40px;
    margin-left: 388px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(22, 6, 94);
    color: white;
}

.totalPrice {
    float: right;
    margin-right: 10px;
    color: black;
}

#storagePrice {
    text-decoration: underline;
    text-underline-offset: 5px;
}
