body {
    background-color: rgb(184, 180, 180);
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstStepScreen {
    width: 60vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 3vh;
    display: flex;
    /* display: none; */
}

.formSteps {
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 10px;
    background-image: url('bg-sidebar-desktop.svg');
    background-size: cover;
    height: 94%;
    width: 28%;
}

.personalInfo {
    background-color: white;
    margin-top: 2%;
    width: 68%;
    height: 94%;
}

.steps {
    border: solid 1px white;
    margin: 0;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-left: 30px;
    color: white;
    background-color: rgb(56, 68, 235);
    justify-content: center;
    align-items: center;
    /* margin-bottom: -10px; */
}

#step1 {
    color: black;
    background-color: white;
}

.stepOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-top: 40px; */
    color: white;
}

.smallFont {
    margin-top: 40px;
    margin-left: -30px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5;
}

.bold {
    font-weight: 700;
    font-size: small;
}

.personalInfoTitle {
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(22, 6, 94);
    margin-left: 100px;
    margin-bottom: 0;
}

.personalInfoDesc {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(134, 134, 134);
    margin-left: 100px;
}

.inputAndTitles {
    margin-left: 100px;
}

.inputTitles {
    font-size: medium;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    color: rgb(22, 6, 94);
}

.inputs {
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

.nextStepButton {
    width: 120px;
    height: 40px;
    margin-left: 388px;
    margin-top: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(22, 6, 94);
    color: white;
}

.nextStepButton:hover {
    background-color: rgb(32, 9, 134);
}

.nextStepButton:active {
        background-color: rgb(44, 15, 170);

}


/* Second Step Css */


.secondStepScreen {
    width: 60vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 3vh;
    display: flex;
    display: none;
}

#step1 {
    background-color: rgb(56, 68, 235);
    color: white;
}

#step2 {
    background-color: white;
    color: black;
}

.selectPlan {
    background-color: white;
    margin-top: 2%;
    width: 68%;
    height: 94%;
}